<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><span class="p-2"><i class="fa-solid fa-house-chimney-medical"></i></span> AK Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-nav">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active m-1" routerLink="/">HOME<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link m-1" routerLink="doctors/doctor/add">ADD DOCTOR</a>
        <a class="nav-item nav-link m-1" routerLink="doctor/view">SEARCH DOCTOR</a>
        <a class="nav-item nav-link m-1" routerLink="patients/patient/add">ADMIT PATIENT</a>
        <a class="nav-item nav-link m-1" routerLink="patient/view">SEARCH PATIENT</a>
      </div>
    </div>
    </div>
  </nav>

    
   
    
    
    
    
    